ul{  
    list-style: none;  
    padding: 0;  
    margin: 0;  
  }  
  
  a{  
    text-decoration: none;  
    color: white;  
  }  
  
  .spacer{  
    flex: 1 1 auto;  
  }  

  .custom-toolbar {
    background-color: #4CAF50; /* Green */
    color: rgb(207, 18, 18);
  }
  